<p style="color: green"><%= notice %></p>

<h1>Reminders</h1>

<div id="reminders">
  <% @reminders.each do |reminder| %>
    <%= render reminder %>
    <p>
      <%= link_to "Show this reminder", reminder %>
    </p>
  <% end %>
</div>

<%= link_to "New reminder", new_reminder_path %>
